<div>
<header class="container-fluid">
    <div class="col-md-12">
      <div class="row">
          <div class="col-md-11">
            <h1>Angular Workshop</h1>
          </div>
          <div class="col-md-1">
            <div class="row">
                  <nav class=" col-md-12" (click) = openMenu();>
                    <i class="fas fa-bars"></i>
                  </nav>
            </div>
          </div>
      </div>
    </div>
  
    <div class="main-menu col-md-3" *ngIf = isMenu>
      <div class="row top">
        <div class="col-md-6">
            <p>Explore</p>
        </div>
        <div class="col-md-6">
            <i class="fas fa-times" (click) = closeMenu();></i>
        </div>
      </div>
        <ul class="menu">
          <li><a (click)="loadHome()">Home</a></li>
          <li [ngClass]="isAccordion ? 'selected' : ''"><a>Authors</a>
            <i *ngIf="!isAccordion" class="fas fa-angle-down arrow" (click) = openOrCloseAccordion();></i>
            <i *ngIf="isAccordion" class="fas fa-angle-up arrow" (click) = openOrCloseAccordion();></i>
  
          </li>
            <ul class="submenu" *ngIf = isAccordion>
              <li *ngFor="let author of authors" (click)="loadAuthor(author.name)"><a>{{author.name}}</a></li>
            </ul>
        </ul>
  
    </div>
  </header>
</div>
  